:root {
  /* Colours */
  --color-bg: #fceb94; /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #dbe2f5; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 2.25rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #dff4b00;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #fffae2;
  --color-cta-newscard-bg: #dff4b00;
  --color-cta-newscard-bg-inverted: #ffa680;

  /* Fonts */
  --font-family-sans: "rubik";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;
}
