
input {
  border: 1px solid #690c4d;
  padding: .25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: .25rlh .5rlh;
  cursor: pointer;
}

.error-message {
  color: darkred;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
  fieldset {
    display: contents;

    div {
      display: grid;
      gap: 0.5ch;
      border-radius: 4px;
      margin: 0;
    }
  }
}

/* Pseudo-classes */
:focus-visible { /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: .98;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  legend::after,
  label:only-of-type::after {
    margin-inline-start: 0.25ch;
    content: "*";
    color: red;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input:not(label > *),
  fieldset > div,
  textarea,
  select {
    outline: 2px solid red;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}
